.item-actions {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.expiry {
  background: red;
}

.highlight {
  box-shadow: 10px 5px 5px black;
  cursor: pointer;
}

.item-card {
  display: flex;
  flex-direction: column;
  gap: 10px;


  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__subtitle {
    word-wrap: break-word;
  }
}
