.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.items-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}

.btns-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}